* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 70px;
    background-color: #020314;
    border-bottom: solid 1px #12D6D6;
    position: fixed;
    z-index: 1;
}

.nav {
    padding: 8px 28px;
}

.nav .items {
    margin-top: -37px;
    margin-right: 10px;
    height: 100%;
}

.nav .items ul li {
    list-style: none;
    color: darkgray;
    float: right;
    font-size: 16px;
    padding: 0px 35px;
}

.nav .items ul .menu-items:hover {
    border-bottom: solid 5px #12D6D6;
    padding-bottom: 20px;
}


.nav .items button {
    width: 86px;
    height: 32px;
    background-color: #C3505C;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: -8px;
    padding-bottom: 1px;
}

.nome {
    margin-bottom: 6px;
}


.content {
    background: url(../img/fundo1.png);
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    width: 100vw;
    height: 100%;
}

#particles-js {
    /* width: 100%; */
    height: 100%;
}
.content .infos {
    width: 435px;
    height: 300px;
    color: white;
    position: absolute;
    /* padding: 200px 500px; */
    margin-top: 220px;
    margin-left: 470px;
    text-align: center;
    /* word-spacing: 10px; */
}

.content .infos h1 {
    font-size: 54px;
    height: 150px;
}

.content .infos h1::after{
    content: '|';
    opacity: 1;
    animation: animation-home .9s infinite;
    /* z-index: 0; */
}

.content .infos button {
    width: 290px;
    height: 60px;
    margin-top: 35px;
    border-radius: 100px;
    border: none;
    color: white;
    background-color: #C3505C;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
    background-color: #9648b4!important;
    transition: all 1s;
}

#about {
    height: 90vh;
    background-color: #020314;
    border-top: 1px #12D6D6;
}

.container {
    display: flex;
    flex-direction: row;
    width: 72%;
    height: 400px;
    /* background-color: #12D6D6; */
    margin: auto;
}

.card {
    width: 250px;
    height: 350px;
    background-color: white;
    float: left;
    margin: 35px;
    border-radius: 15px;
}

/* animacao barra piscando */
@keyframes animation-home {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}