* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #E032E6;
  border-radius: 15px;
}


ul {
  color: #E032E6;
  list-style: none;
  margin: 20px 85px;
  animation: aparecer linear .8s;
  width: 80%;
  /* font-size: 15px; */
}

ul li {
  margin-top: 10px;
  
}

/* elemento que eu quera que aconteça a animação */
#left-menu {
  width: 20%;
  height: 100vh;
  background-color: #020314;
  position: absolute;
  top: 0;
  position: fixed;
  /* background-image: url(../img/fundo1.png); */
  /* chamando a animação */
  animation: diminui linear .5s;
}

/* "configs" da animação. Pode colocar qualquer valor (0%, 15%, 100%) 
de acordo com o tempo que voce quer que ocorra o que voce configurou para
ocorrer.  */
@keyframes diminui {
  0% {
    width: 100%;
    z-index: 1000;
  }
  50% {
    width: 60%;
    z-index: 1000;
  }
}

#left-menu p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

#profileImg {
  width: 150px;
  border-radius: 100%;
  margin: 20px 55px;
  animation: aparecer linear .8s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#gallery {
  height: 100vh;
  /* background-color: #020314; */
  /* background-color: #310073; */
  width: 80%;
  float: right;
  overflow-y: auto;
  background-image: url(../img/fundo1.png);
}

#gallery .content {
  width: 89%;
  /* padding: 20px 50px; */
  position: relative;
  margin-left: 100px;
  margin-top: 30px;
}

#gallery .content .images {
  width: 250px;
  height: 150px;
  position: relative;
  margin: 14px;
  border: 2px solid #12d6d625;
}

#gallery .content .more {
  width: 90px;
    height: 90px;
    margin: 15px;
    position: fixed;
    bottom: 13px;
    right: 13px;
    background-color: #B332E6;
    border-radius: 20px;
  /* background-color: #E032E6; */
}

.more img {
  width: 30px;

}